.container {
    display: flex;
}

.table-block {
    display: inline-block;
}


thead th {
    background-color: brown;
    width: 130px;
    color: #fff;
    padding: 10px 0;
}

tbody td {
    border: 1px solid black;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: chocolate;
    color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: blanchedalmond;
}

button {
    background-color: green;
    padding: 10px;
    color: #fff;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
